// -----------------------------------------------------------------------------
// SMALL FOOTER
// -----------------------------------------------------------------------------
.footer-small {
  background-color: $accent;
  color: $shaft;
}

// Links
.footer-link { padding: 0 10px; }

// links & social
.footer-link,
.footer-social {
  color: rgba(54,54,54,0.5);

  &:hover { color: $shaft; }
}
