// -----------------------------------------------------------------------------
// NAVBAR EDIT BULMA
// -----------------------------------------------------------------------------
.nav-item a, a.nav-item {
  color: $text-disabled;
  @include font-size(16);

  &:hover { color: $mystic; }
  &.is-active {
    color: $accent-light;
    border-bottom: 2px solid $accent-light;
  }
}

// Remove height for avatar
.nav-item img { max-height: 100%; }

.nav-item { padding: 10px; }
.nav-logo { padding: 10px 15px 10px 5px; }
.nav-logo:hover { opacity: 0.8; }

// -----------------------------------------------------------------------------
// NAVBAR
// -----------------------------------------------------------------------------
.nav-ebony { background-color: $ebony; }

// Fixed position
.has-fixed-top,
.has-fixed-bottom {
  position: fixed;
  right: 0;
  left: 0;
  z-index: 1000;
}

.has-fixed-top { top: 0; }
.has-fixed-bottom { bottom: 0; }
