// -----------------------------------------------------------------------------
// PROFILE NAVBAR
// -----------------------------------------------------------------------------
.nav-profile {
  background-color: $mystic;
  border-bottom: 2px solid $accent;
  margin-bottom: 0;
}

.profile-name {
  color: $text-dark;
  margin-bottom: 15px !important;
  margin-top: 10px;
}

.profile-loc {
  color: $accent;
  margin-bottom: 0;
}
