// -----------------------------------------------------------------------------
// DAEMONITE MATERIAL AVATAR
// -----------------------------------------------------------------------------
.avatar {
	background-color: $mystic;
	border-radius: 50%;
	color: inherit;
	display: block;
	height: 40px;
	line-height: 40px;
	text-align: center;
	width: 40px;
  border: 1px solid $white;

	&[href]:focus,
	&[href]:hover {
		color: inherit;
		text-decoration: none;
	}

	img {
		border-radius: 50%;
		height: 100%;
		vertical-align: top;
		width: 100%;
	}
}

// colour
@each $type, $color in $palette {
	.avatar-#{$type} {
		background-color: $color;
		color: findColorInvert($color);
	}
}

// size
.avatar-lg {
	height: 60px;
	line-height: 60px;
	width: 60px;
}

.avatar-sm {
	height: 32px;
	line-height: 32px;
	width: 32px;
}

.avatar-xs {
	font-size: 12px;
	height: 20px;
	line-height: 20px;
	width: 20px;
}

.avatar-inline {
	display: inline-block;
}
