// -----------------------------------------------------------------------------
// BUTTONS BULMA REPLACE
// -----------------------------------------------------------------------------
.button {
  &.is-medium {
    border: 2px solid;
    padding: 0 25px;
    height: 35px;
    @include font-size(16);
  }
  &.is-large {
    border: 2px solid;
    padding: 0 30px;
    height: 45px;
  }
}

// -----------------------------------------------------------------------------
// BUTTONS
// -----------------------------------------------------------------------------
.button {
  @extend %button;
}

.button[disabled],
.button.is-disabled,
.is-disabled { pointer-events: auto; }

// Normal
@each $type, $color in $palette {
  .button.is-#{$type} {
    background-color: $color;
    border-color: transparent;
    color: findColorInvert($color);

    &:hover {
      background-color: darken($color, 20%);
      color: findColorInvert($color);
    }
  }
}

// Outlined
@each $type, $color in $palette {
  .button.is-#{$type}.is-outlined {
    background-color: transparent;
    border-color: $color;
    color: $color;

    &:hover {
      background-color: $color;
      color: findColorInvert($color);
      border-color: $color;
    }
  }
}

// Button transparent, only appears on hover
@each $type, $color in $palette {
  .button.is-#{$type}.is-transparent {
    background-color: transparent;
    border-color: transparent;
    color: findColorInvert($color);

    &:hover {
      background-color: $color;
      color: findColorInvert($color);
      border-color: $color;
    }
  }
}
