// -----------------------------------------------------------------------------
// GRID SYSTEM
// -----------------------------------------------------------------------------
// Container scrollable
.gridd {
  position: fixed;
  overflow-y: auto;
  overflow-x: hidden;
  left: 0;
  right: 0;
  top: 5em; // Desktop and widescreen only
  bottom: 2.8em; // Desktop and widescreen only
}

// Container for figure elements
.gallery {
  display: -ms-flexbox;
	display: -webkit-flex;
	display: flex;

	-ms-flex-wrap: wrap;
	-webkit-flex-wrap: wrap;
	flex-wrap: wrap;
}

// Image container
figure.gallery-image {
  display: flex;
  flex-direction: column;
  margin: 0;
}

// Image
.gallery-image img { flex: 1 0 auto; }

// -----------------------------------------------------------------------------
// BREAKPOINTS
// -----------------------------------------------------------------------------
// Covers from small phones to tablets
@include until($tablet) {
  .gridd {
    top: 8.8em;
    bottom: 8.5em;
  }
}

// Covers uner phablet size - max 544px
@include until($mid-phone) {
  figure.gallery-image { width: 100%; }
}

// Covers phablet, tablets and intermediate range between tablets and desktop
@media all and (min-width: $mid-phone + 1) and (max-width: $desktop - 1) {
  figure.gallery-image { width: 50%; }
}

@media all and (min-width: $desktop - 1) and (max-width: $widescreen) {
  figure.gallery-image { width: 33.3%; }
}

// Covers desktop big screens - min 1200px
@include from($widescreen) {
  figure.gallery-image { width: 25%; }
}
