// -----------------------------------------------------------------------------
// LOADING SPIN
// -----------------------------------------------------------------------------
$len: 242.776657104492px;
$time: 1.6s;
#outline {
  stroke-dasharray: $len*0.01, $len;
  stroke-dashoffset: 0;
  animation: anim $time linear infinite;
}
@keyframes anim {
  12.5% {
    stroke-dasharray: $len*0.14, $len;
    stroke-dashoffset: -$len*0.11;
  }
  43.75% {
    stroke-dasharray: $len*0.35, $len;
    stroke-dashoffset: -$len*0.35;
  }
  100% {
    stroke-dasharray: $len*0.01, $len;
    stroke-dashoffset: -$len*0.99;
  }
}

.section-loading {
  background-color: rgba(121,129,178,0.8);
  z-index: 1500;
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
}

.loading-text {
  margin-top: -70px;
  font-size: 10px;
  letter-spacing: 2px;
  opacity: 0.5;
  color: #EDEDED;
}
