// -----------------------------------------------------------------------------
// SEARCH BAR
// -----------------------------------------------------------------------------
// Container
.nav-search {
  width: 20rem;
  padding: 10px;
}

// Icon
.nav-search .material-icons {
  position: absolute;
  top: 30%;
  margin-left: 12px;
  z-index: 1;
  color: $text-disabled;
}

// Input
.searchbar {
  height: 3rem;
  width: 100%;
  background: #1D1F31;
  border: none;
  color: #262626;
  padding-left: 45px;
  color: $text-light;
  @include font-size(16);
  @include prefix(transition, background .55s ease, webkit moz ms o);

  &:focus, &:active {
    outline:none;
    background: $text-light;
    color: $text-dark;
  }
}
.searchbar::-webkit-input-placeholder { color: $text-disabled; }
.searchbar:-moz-placeholder { /* Firefox 18- */ color: $text-disabled; }
.searchbar::-moz-placeholder {  /* Firefox 19+ */ color: $text-disabled; }
.searchbar:-ms-input-placeholder { color: $text-disabled; }
