// -----------------------------------------------------------------------------
// CHECKBOX & RADIO BUTTON
// -----------------------------------------------------------------------------
.checkbox-adv,
.radiobtn-adv {
	font-size: inherit;
	line-height: 20px;
}

[class*="checkbox-circle"],
[class*="radiobtn-circle"] {
	display: block;
	height: 14px;
	position: absolute;
		top: ((20 - 14) / 2 - 1);
		left: 0;
	width: 14px;
}

[class*="radiobtn-circle"] {
	border-radius: 50%;
}

.checkbox-circle,
.radiobtn-circle {
	border: 2px solid rgba(0, 0, 0, 0.54);
	transition: border-color 0.3s cubic-bezier(0.4, 0, 0.2, 1);
}

.checkbox-circle {
	input[type="checkbox"]:focus ~ & {
		border-color: rgba(0, 0, 0, 0.87);
	}
	fieldset[disabled] input[type="checkbox"] ~ &,
	input[type="checkbox"][disabled] ~ &,
	.checkbox-adv.disabled input[type="checkbox"] ~ & {
		border-color: rgba(0, 0, 0, 0.38);
	}
}

.radiobtn-circle {
	input[type="radio"]:focus ~ & {
		border-color: rgba(0, 0, 0, 0.87);
	}
	input[type="radio"]:checked ~ & {
		border-color: $accent;
	}
	fieldset[disabled] input[type="radio"] ~ &,
	input[type="radio"][disabled] ~ &,
	.radiobtn-adv.disabled input[type="radio"] ~ & {
		border-color: rgba(0, 0, 0, 0.38);
	}
	fieldset[disabled] input[type="radio"]:checked ~ &,
	input[type="radio"]:checked[disabled] ~ &,
	.radiobtn-adv.disabled input[type="radio"]:checked ~ & {
		border-color: $accent-light;
	}
}

.checkbox-circle-check,
.radiobtn-circle-check {
	background-color: transparent;
	transform: scale(0, 0);
	transition: transform 0.3s cubic-bezier(0.4, 0, 0.2, 1);
	&:after,
	&:before {
		background-color: $accent;
		border-radius: 50%;
		content: "";
		display: block;
		opacity: 0;
		position: absolute;
	}
	&:after {
		height: (14 * 5);
		// position
			top: (14 * -2);
			left: (14 * -2);
		width: (14 * 5);
	}
	&:before {
		height: 100%;
		// position
			top: 0;
			left: 0;
		transition: opacity 0.3s cubic-bezier(0.4, 0, 0.2, 1);
		width: 100%;
	}
}

.checkbox-circle-check {
	input[type="checkbox"]:checked ~ & {
		transform: scale(0.5, 0.5);
		&:after {
			animation: circle-check 0.6s;
		}
	}
	fieldset[disabled] &,
	input[type="checkbox"][disabled] ~ &,
	.checkbox-adv.disabled & {
		display: none;
	}
}

.radiobtn-circle-check {
	input[type="radio"]:checked ~ & {
		transform: scale(0.5, 0.5);
		&:after {
			animation: circle-check 0.6s;
		}
		&:before {
			opacity: 1;
		}
	}
	fieldset[disabled] &,
	input[type="radio"][disabled] ~ &,
	.radiobtn-adv.disabled & {
		&:after,
		&:before {
			display: none;
		}
	}
	fieldset[disabled] input[type="radio"]:checked ~ &,
	input[type="radio"]:checked[disabled] ~ &,
	.radiobtn-adv.disabled input[type="radio"]:checked ~ & {
		background-color: $accent-light;
	}
}

.checkbox-circle-icon {
	background-color: $accent;
	color: $white;
	opacity: 0;
	transform: scale(0.5, 0.5);
	transition-duration: 0.3s;
	transition-property: opacity, transform;
	transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
	&:before {
		// position
			top: auto;
	}
	input[type="checkbox"]:checked ~ & {
		opacity: 1;
		transform: scale(1, 1);
	}
	fieldset[disabled] input[type="checkbox"]:checked ~ &,
	input[type="checkbox"]:checked[disabled] ~ &,
	.checkbox-adv.disabled input[type="checkbox"]:checked ~ & {
		background-color: $accent-light;
	}
}

// animation
	@keyframes circle-check {
		0% {
			opacity: 0;
		}
		25% {
			opacity: 0.25;
		}
		100% {
			opacity: 0;
		}
	}
