// -----------------------------------------------------------------------------
// MATERIAL TABS STYLE - EDIT BULMA
// -----------------------------------------------------------------------------
.tabs { border-bottom: 1px solid #d3d6db; }

// Tabs hover and style - using .tab class
.tabs a.is-tab {
  margin-bottom: 0;
  border-bottom: none;
  //margin: 0 15px;

  &:hover {
    border-bottom: 1px solid $shaft;
    color: $shaft;
  }
}

// Remove hover style to not affect buttons
.tabs a {
  &:hover {
    border-bottom: none;
    color: inherit;
  }
}

.tabs ul { border-bottom: none; }

// Change medium size tabs
.tabs.is-medium { @include font-size(16); }
.tabs.is-medium a.is-tab { padding: 15px; }

// Change tabs active color for use accent
.tabs li.is-active a.is-tab {
  color: $accent;
  border-bottom: 2px solid $accent;
}

// Padding when use left-center-right content
.tabs ul.is-left { padding-left: 20px; }
.tabs ul.is-right { padding-right: 20px; }
