// Tag container - when have text next to
.tag-container {
  padding: 10px 20px;
}

// -----------------------------------------------------------------------------
// TAGS - ROUNDED
// -----------------------------------------------------------------------------
// Normal
@each $type, $color in $palette {
  .tag.is-#{$type} {
    background-color: $color;
    border-color: transparent;
    color: findColorInvert($color);
  }
}

// Outlined
@each $type, $color in $palette {
  .tag.is-#{$type}.is-outlined {
    background-color: transparent;
    border-color: $color;
    color: $color;
  }
}

// -----------------------------------------------------------------------------
// TAGS - NO ROUNDED
// -----------------------------------------------------------------------------
.tag-border {
  @extend %tag;
  border-radius: 0.5em;
}

// Normal
@each $type, $color in $palette {
  .tag-border.is-#{$type} {
    background-color: $color;
    border-color: transparent;
    color: findColorInvert($color);
  }
}

// Outlined
@each $type, $color in $palette {
  .tag-border.is-#{$type}.is-outlined {
    background-color: transparent;
    border-color: $color;
    color: $color;
  }
}
