// -----------------------------------------------------------------------------
// This file contains very basic styles.
// -----------------------------------------------------------------------------
html { overflow: hidden; }
body {
  background-color: $white;
  width: 100%;
  height: 100%;
  font-weight: 100;
}

// Remove columns styles
.columns {
  margin-left: 0;
  margin-right: 0;
  margin-top: 0;
}
.columns:not(:last-child) { margin-bottom: 0; }
.columns:last-child { margin-bottom: 0; }

.icons { font-size: inherit; }

// -----------------------------------------------------------------------------
// CUSTOM STYLES COMMON - ORIGINALS
// -----------------------------------------------------------------------------
.is-block { display: block; }
.is-inline { display: inline; }
.card--border-top { border-top: 1px solid rgba(0, 0, 0, 0.1); }
.is-uppercase { text-transform: uppercase; }
.is-relative { position: relative; }
.is-absolute { position: absolute; }
.is-fixed { position: fixed; }

// -----------------------------------------------------------------------------
// Vertical align using flexbox
// https://davidwalsh.name/css-vertical-center-flexbox
// -----------------------------------------------------------------------------
.align-center {
  display: -ms-flexbox;
	display: -webkit-flex;
	display: flex;

	-ms-flex-align: center;
	-webkit-align-items: center;
	-webkit-box-align: center;

	align-items: center;
}

// -----------------------------------------------------------------------------
// PALETTE
// -----------------------------------------------------------------------------
// primary
.bg-primary { background-color: $primary !important; }
.bg-primary-shadow { background-color: $primary-shadow !important; }
.bg-primary-light { background-color: $primary-light !important; }
.primary { color: $primary !important; }
.primary-shadow { color: $primary-shadow !important; }
.primary-light { color: $primary-light !important; }
// Accent
.bg-accent { background-color: $accent !important; }
.bg-accent-light { background-color: $accent-light !important; }
.bg-accent-shadow { background-color: $accent-shadow !important; }
.accent { color: $accent !important; }
.accent-light { color: $accent-light !important; }
.accent-shadow { color: $accent-shadow !important; }

// -----------------------------------------------------------------------------
// STEALED STYLES
// -----------------------------------------------------------------------------
// Box shadow from MDL
.shadow--2dp { box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 3px 1px -2px rgba(0, 0, 0, 0.2), 0 1px 5px 0 rgba(0, 0, 0, 0.12); }
.shadow--3dp { box-shadow: 0 3px 4px 0 rgba(0, 0, 0, 0.14), 0 3px 3px -2px rgba(0, 0, 0, 0.2), 0 1px 8px 0 rgba(0, 0, 0, 0.12); }
.shadow--4dp { box-shadow: 0 4px 5px 0 rgba(0, 0, 0, 0.14), 0 1px 10px 0 rgba(0, 0, 0, 0.12), 0 2px 4px -1px rgba(0, 0, 0, 0.2); }
.shadow--6dp { box-shadow: 0 6px 10px 0 rgba(0, 0, 0, 0.14), 0 1px 18px 0 rgba(0, 0, 0, 0.12), 0 3px 5px -1px rgba(0, 0, 0, 0.2); }
.shadow--8dp { box-shadow: 0 8px 10px 1px rgba(0, 0, 0, 0.14), 0 3px 14px 2px rgba(0, 0, 0, 0.12), 0 5px 5px -3px rgba(0, 0, 0, 0.2); }
.shadow--16dp { box-shadow: 0 16px 24px 2px rgba(0, 0, 0, 0.14), 0 6px 30px 5px rgba(0, 0, 0, 0.12), 0 8px 10px -5px rgba(0, 0, 0, 0.2); }
.shadow--24dp { box-shadow: 0 9px 46px 8px rgba(0, 0, 0, 0.14), 0 11px 15px -7px rgba(0, 0, 0, 0.12), 0 24px 38px 3px rgba(0, 0, 0, 0.2); }

// -----------------------------------------------------------------------------
// DYNAMIC STYLES
// -----------------------------------------------------------------------------
/// Generate padding in all postions, counting 10 to 10
@for $number from 0 through 100 {
 @each $pos, $name in $position {
   .p#{$name}-#{$number} {
     @include dynamic('padding', $number, $pos);
   }
   .m#{$name}-#{$number} {
     @include dynamic('margin', $number, $pos);
   }
 }
 .p-#{$number} {
   @include dynamic('padding', $number);
 }
 .m-#{$number} {
   @include dynamic('margin', $number);
 }
}

/// Generate dynamically content width
@for $number from 0 through 100 {
 .w-#{$number} { width: $number * 1%; }
}

/// Generate dynamically content height
@for $number from 0 through 100 {
 .h-#{$number} { height: $number * 1%; }
}
