.error__page {
  background: url(http://www.thelandofshadow.com/wp-content/uploads/2013/10/HobbitSmaugTrailer1a.jpg) center left no-repeat;
  background-size: cover;
  font-family: $base-font;
}
.container__buttons {
  position: absolute;
  top: 80%;
  left: 50%;
  transform: translate(-50%, 0%);
}
// .error__box {
//   text-align: center;
//   color: #CDD4DE;
//   background-color: rgba(0,0,0,0.2);
//   padding: 2em 5em;
//   top: 50%;
//   left:50%;
//   transform: translate(-50%,-50%);
//   position: absolute;
//   border-radius: 5px;
// }
.error__heading {
  font-weight: 100;
  line-height: 0;
  margin: 0;
  color: black;
  opacity: 0.5;
  z-index: 9;
  @include font-size(220); /* 200px = 12.5rem */
}
.error__title {
  font-weight: 200;
  margin-top: -25px;
  margin-bottom: 50px;
  text-transform: lowercase;
  letter-spacing: 4px;
  z-index: 10;
  color: #EDF2F4;
  opacity: 0.5;
  @include font-size(50); /* 50px = 2rem */
}
.error__text {
  font-weight: 100;
  color: #EDF2F4;
  @include font-size(18); /* 15px = 1.1em */
}
/* Buttons style - http://tympanus.net/Development/CreativeButtons/ */
/* General button style (reset) */
.btn.is-white.is-outlined {
  font-family: inherit;
  cursor: pointer;
  display: inline-block;
  font-weight: 300;
  text-transform: uppercase;
  border: 2px solid #EDF2F4;
  padding: 0.5em 1.5em;
  border-radius: 4px;
  color: #EDF2F4;
  background-color: transparent;
  letter-spacing: 1px;
  @include font-size(14); /* 14px = 1em */

  &:hover {
    background-color: #EDF2F4;
    color: black;
  }
}
.report-link {
  color: #EDF2F4;
  opacity: 0.5;
  display: block;
  font-weight: 100;

  &:hover {
    opacity: 1;
    color: #EDF2F4;
  }
}
@media (max-width: 370px) {
  .error__heading { line-height: 15px; @include font-size(180); }
  .error__title { @include font-size(35); }
  .error__text { @include font-size(25); }
}
