// -----------------------------------------------------------------------------
// This file contains all application-wide Sass mixins.
// -----------------------------------------------------------------------------
/// Mixin to generate dynamically active links in nav depending on color
/// @group Mixins
/// @param {string} $color color for display active link
/// @author Amanda Copete
@mixin is-active($color) {
  &.is-active {
    background-color: $color;
    color: $white;
  }
}

/// Mixin to generate dynamically padding and margin in all positions
/// @output padding with position and px chosed
/// @group Mixins
/// @param {string} $type specify type of property
/// @param {int | array} $quantity integer or array with numbers
/// @param {string | array} $position position string or array with strings
/// @author Amanda Copete
/// @example
///   @include dynamic('padding', $numbers-array, $position-array)
@mixin dynamic($type, $quantity, $position: '') {
  @if $position != '' {
    #{$type}-#{$position}: #{$quantity}px!important;
  } @else {
    #{$type}: #{$quantity}px!important;
  }
}

/// font-size mixin for add rem and font-size (old-browsers support)
/// @link http://zerosixthree.se/8-sass-mixins-you-must-have-in-your-toolbox/
/// @group Mixins
/// @param {int} $size - font size in pixels
/// @output font in rem and pixels (overriden if browser supports rem)
/// @example
///   @include font-size(16);
@mixin font-size($size) {
  font-size: #{$size}px;
  font-size: rem($size);
}

/// Mixin to prefix a property
/// @author Hugo Giraudel
/// @param {String} $property - Property name
/// @param {*} $value - Property value
/// @param {List} $prefixes (()) - List of prefixes to print
/// @output convert $property in cross-browser compatible using prefixes defined in $prefixes
/// @example
///   @include prefix(transition, all 0.30s ease-in-out, webkit moz);
@mixin prefix($property, $value, $prefixes: ()) {
  @each $prefix in $prefixes {
    #{'-' + $prefix + '-' + $property}: $value;
  }

  // Output standard non-prefixed declaration
  #{$property}: $value;
}

// Stealed from bulma.io
@mixin from($device) {
  @media screen and (min-width: $device) {
    @content;
  }
}

@mixin until($device) {
  @media screen and (max-width: $device - 1px) {
    @content;
  }
}

@mixin mobile {
  @media screen and (max-width: $tablet - 1px) {
    @content;
  }
}

@mixin tablet {
  @media screen and (min-width: $tablet) {
    @content;
  }
}

@mixin tablet-only {
  @media screen and (min-width: $tablet) and (max-width: $desktop - 1px) {
    @content;
  }
}

@mixin touch {
  @media screen and (max-width: $desktop - 1px) {
    @content;
  }
}

@mixin desktop {
  @media screen and (min-width: $desktop) {
    @content;
  }
}

@mixin desktop-only {
  @media screen and (min-width: $desktop) and (max-width: $widescreen - 1px) {
    @content;
  }
}

@mixin widescreen {
  @media screen and (min-width: $widescreen) {
    @content;
  }
}
