// -----------------------------------------------------------------------------
// This file contains all application-wide Sass placeholders.
// -----------------------------------------------------------------------------
// BUTTONS
// Base
%button {
  -webkit-box-align: center;
  background: white;
  border: 1px solid #d3d6db;
  border-radius: 3px;
  color: #222324;
  display: -webkit-inline-box;
  display: -webkit-inline-flex;
  display: -ms-inline-flexbox;
  display: inline-flex;
  font-size: 14px;
  font-weight: 300;
  height: 32px;
  -webkit-box-pack: start;
  -webkit-justify-content: flex-start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  line-height: 24px;
  padding-left: 8px;
  padding-right: 8px;
  position: relative;
  vertical-align: top;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding-left: 10px;
  padding-right: 10px;
  text-align: center;
  white-space: nowrap;
  @include prefix(appearance, none, moz webkit);
  @include prefix(align-items, center, webkit ms);

  &:hover { border-color: #aeb1b5; color: #222324; }
  &:active { border-color: #1fc8db; outline: none; }
  .is-disabled, [disabled] {
    background: #f5f7fa;
    border-color: #d3d6db;
    cursor: not-allowed;
    pointer-events: none;
  }
}

// TAGS
%tag {
  align-items: center;
  background: #f5f7fa;
  color: #69707a;
  display: inline-flex;
  font-size: 12px;
  height: 24px;
  justify-content: center;
  line-height: 16px;
  padding-left: 10px;
  padding-right: 10px;
  vertical-align: top;
  white-space: nowrap;
}

// INPUTS
%input {
  padding: 0.375rem 0.75rem;
  font-size: 1rem;
  line-height: 1.5;
  border-radius: 3px;
  outline: none; // Remove browser focus style
  @include prefix(transition, all 0.30s ease-in-out, webkit moz);
  @include prefix(box-sizing, border-box, webkit moz);
}
