
// BASE COLORS
// For use MDL colors with things: color--blue-500
// For use MDL colors with text: color-text--blue-500
// Use MD table colors: https://www.google.com/design/spec/style/color.html#color-color-palette

// -----------------------------------------------------------------------------
// COLOR PALETTE - http://chir.ag/projects/name-that-color/
// -----------------------------------------------------------------------------
$ebony: #2B2D42; // rgb(43,45,66)
$bali: #8D99AE; // rgb(141,153,174)
$mystic: #EDF2F4; // rgb(237,242,244)
$crimson: #EF233C; // rgb(239,35,60)
$monza: #D90429; // rgb(217,4,41)
$shaft: #363636; // rgb(54,54,54)

// -----------------------------------------------------------------------------
// color definitions
// -----------------------------------------------------------------------------
/// Primary color
/// @type Color
$primary: $ebony;
$primary-shadow: $bali;
$primary-light: #B3BED2;

/// Accent color
/// @type Color
$accent: $crimson;
$accent-shadow: $monza;
$accent-light: #EC6072;

/// Background
/// @type Color
$white: #FFFFFF;

/// Text
/// @type Color
$text-dark: $shaft;
$text-light: $mystic;
$text-disabled: #65737e;

/// Input disabled, radio / checkbox disabled
/// @type Color
$disabled: #C6CCD6;

// Links
// @type Color
$link-color: $accent;
$link-color-hover: $accent-shadow;

// Background
// @type Color
$background-color: $white;

// -----------------------------------------------------------------------------
// breakpoints
// -----------------------------------------------------------------------------
$small-phone: 0;
$mid-phone: 544px;
$tablet: 768px;
$desktop: 992px;
$widescreen: 1200px;
